@model IEnumerable<SimpleStudentsWebsite.Models.ViewModels.ReportModel>

@{
    ViewBag.Title = "Отчеты";
}

<h2>Отчеты</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(item.ReportName, "LoadReport", new {  id=item.Id  })</li>
    }
</ul>
