@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="unauthorized margin-top-30 height-100">
    <div class="global-error">
        <br/>
        <a><i class="fa fa-5x fa-warning"></i></a>
        <h2>403 - Forbidden. Доступ запрещен</h2>
    </div>
</div>