@model IEnumerable<TeacherModel>

@{
    ViewBag.Title = "Преподаватели";
}

<h2>Преподаватели</h2>

<div id="teachersDiv" data-action-url="@Url.Action("ReadTeachers")" data-detail-url="@Url.Action("TeacherDetail")" data-panel="teacherWindow" data-loading-msg="Загрузка списка преподавателей">
    @Html.Partial("TeachersList", new List<TeacherModel>().AsEnumerable())
</div>

@section scripts
{
    @Scripts.Render("~/bundles/teachers")
}