<table id="students" class="display" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>StudentId</th>
            <th>Студент</th>
            <th>Средний балл</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>StudentId</th>
            <th>Студент</th>
            <th>Средний балл</th>
        </tr>
    </tfoot>
</table>